* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.name-description {
  line-height: 50px;
}

.star-issues-time {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.star, .issue {
  border: 1px solid black;
  padding: 5px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 30px;
}